{% extends "base.html.twig" %}

{% block title %}
    Listagem dos anos de edições
{% endblock %}

{% block body %}
    <br/>
    <div class="container">
        <div class="row justify-content-sm-center">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Ano Edição</th>
                        <th scope="col" colspan="2" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ano in anos %}
                        <tr>
                            <th>{{ ano.id }}</th>
                            <td>{{ ano.anoPublicacao }}</td>
                            <td class="text-center"><a href="#"><span class="fas fa-pencil-alt"></span></a></td>
                            <td class="text-center"><a href={{ path('ano_edicoes_deletar', { id:ano.id }) }}><span class="fas fa-trash-alt"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br/><br/>
    {% endblock %}