{% extends "base.html.twig" %}

{% block title %}
    Listagem de editoras
{% endblock %}

{% block body %}
<br/>
    <div class="container">
        <div class="row justify-content-sm-center">
        <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light"> 
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Editora</th>
            </tr>
            </thead>
            <tbody>
                {% for editor in editoras %}
                    <tr>
                        <th>{{ editor.id }}</th>
                        <td>{{ editor.editora }}</td>
                    </tr>
                {% endfor %}                    
            </tbody>
        </table>    
    </div>
    <br/><br/>
{% endblock %}