{% extends "base.html.twig" %}

{% block title %}
    Sistema de livros
{% endblock %}

{% block body %}

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <h1 class="display-3 text-center"> Bem-vindo ao Sistema LiVrOs! </h1>
    <h3 class="display-5 text-center"> Aqui você poderá ver toda a minha lista de livros.</h3>
 
{% endblock %}