{% extends "base.html.twig" %}

{% block title %}
    Listagem de livros
{% endblock %}

{% block body %}
<br/>
    <div class="container">
        <div class="row justify-content-sm-center">
        <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light"> 
                <div class="row">
                    <div class="col-sm-1">
                        <th scope="col">ID</th>
                    </div>
                    <div class="col-sm-auto">
                        <th scope="col">Editora</th>
                    </div>
                    <div class="col-sm-8"></div>
                
                </div>
            </thead>
            <tbody>
                <div class="row">
                    {% for produto in dados %}
                        <tr>
                            <div class="col-sm-1">
                                <th scope="row">{{ produto.id }}</th>
                            </div>
                            <div class="col-sm-auto">
                                <td>{{ produto.produto }}</td>
                            </div>
                            <div class="col-sm-8">
                        </tr>
                    {% endfor %}                    
                </div>

            </tbody>
        </table>    
    </div>
{% endblock %}