{% extends "base.html.twig" %}

{% block title %}
    Listagem de autores
{% endblock %}

{% block body %}
<br/>
    <div class="container">
        <div class="row justify-content-sm-center">
        <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light"> 
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Autor</th>
                </tr>
            </thead>
            <tbody>
                {% for autor in autores %}
                    <tr>
                        <th>{{ autor.id }}</th>
                        <td>{{ autor.autor }}</td>
                    </tr>
                {% endfor %}                    
            </tbody>
        </table>    
    </div>
    <br/><br/>
{% endblock %}